.item-add-form {
    margin-top: 10px;
}

.item-add-form input {
    margin-right: 3px;
    border-color: #17a2b8;
}

.input-button {
    font-size: 70%;
    padding: 0px;
    width: 20%;
    border-color: #17a2b8;
}
